/* GENERAL */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

ul li{
    list-style: none;
}

h1{
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6{
    color:#031c4e;
}

.sottotitolo{
    font-size: 20px;
}

.grey{
    color: #75809a;
}

/* HEADER */
.logo img{
    width: 200px;
}

.hamburger{
    font-size: 25px;
    color: #2485fd;
}

a{
    color: #2485fd;
}

/* MAIN */
/* jumbotron */
.-jumbotron{
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
}

.-jumbotron .col-xs-12 > p{
    color:#bbcdff;
    font-weight: 500;
}

/*jumbotron form */
.form {
    background-color: white;
    border-radius: 5px;
}

.-jumbotron .form button.btn-primary{
    background-color: #2485fd;
    border: none;
}

.-jumbotron .form button.btn-default{
    position: relative;
    border: none;
    box-shadow: 1px 1px 5px rgb(187, 187, 187);
}

.-jumbotron .form button.btn-default img{
    max-width: 20px;
    position: absolute;
    left: 10px;
}

/* logos section */
.logos-section{
    background-color: #f3f5f9;
}

.logos-section img{
    max-height: 100px;
    max-width: 100%;
}

/* deploy and scale seamlessly */
.deploy ul li{
    border-left: 1px solid currentColor;
    line-height: 2;
}

/* slides section 1 */
.slides{
    background-color: #f3f5f9;
}

.slides img{
    max-width: 300px;
}

.slides .blue-circle{
    width: 10px;
    height: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid #2485fd;
    border-radius: 50%;
}

.blue-circle.full{
    background-color: #2485fd;
}

/* table section */
.table{
    background: linear-gradient(#0048c5, #001e99);
}

.-row{
    border-bottom: 1px solid currentColor;
    line-height: 2.7;
}

.-row:nth-child(7),
.-row:nth-child(13){
    border-bottom: none;
}

.region{
    color: #bbcdff;
}

.test-speed a{
    color:#00d5d1;
}

/* slide section 2 */
.slides .box{
    background-color: white;
}

/* get started */
.get-started{
    background-color: #001e99;
}

/* footer */
footer{
    background-color:#031c4e;
}

footer a{
    color: grey;
}

footer i{
    font-size: 30px;
}