/* GENERAL */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul li{
    list-style: none;
}

h1{
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6{
    color:#031c4e;
}

/* HEADER */
.logo img{
    width: 200px;
}

.hamburger{
    font-size: 25px;
    color: #2485fd;
}

/* MAIN */
/* jumbotron */
.-jumbotron{
    background-image: url("../img/bg-banner-home.jpg");
    background-size: contain;
}

.-jumbotron .col-xs-12 > p{
    color:#bbcdff;
    font-weight: 500;
}

/*jumbotron form */
.form {
    background-color: white;
    border-radius: 5px;
}

.-jumbotron .form button.btn-primary{
    background-color: #2485fd;
    border: none;
}

.-jumbotron .form button.btn-default{
    position: relative;
    border: none;
    box-shadow: 1px 1px 5px rgb(187, 187, 187);
}

.-jumbotron .form button.btn-default img{
    max-width: 20px;
    position: absolute;
    left: 10px;
}

.tos{
    font-weight: 400;
    line-height: 3;
}

/* logos section */
.logos-section{
    color: #8b8b8b;
    background-color: #f3f5f9;
}

.logos-section img{
    height: 100px;
    max-width: 150px;
}

/* deploy and scale seamlessly */
.deploy ul li{
    color: #75809a;
    border-left: 1px solid #75809a;
    line-height: 2;
}

.deploy p{
    color: #5c6a88;
}